{% extends "rest_framework_docs/base.html" %}

{% block title %}Web Advertisement Business{% endblock %}
{% block logo %}<a class="navbar-brand" href="https://github.com/litsa1986/django-rest-framework-docs/">Documentation of Web Advertisemet Business</a>{% endblock %}
<div>
  <h1><i><b>WAB</b></i></h1>
  <h3><b>Web Advertisement Business</b></h3>
</div>
<div></div>
<h4>Document Web APIs made with Django REST Framework <a href="https://django-rest-framework-docs/">info</a> </h4>
</div>

{% block footer %}<div class="footer">Copyright © 2016 Evangelia Grigoriadou & Kiakou Georgia.</div>{% endblock %}